{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Transcend</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" >
    <link rel="stylesheet" href="{% static 'css/themes/main.css' %}" >

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}" ></script>
    <script src="{% static 'js/pace.min.js' %}" ></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href=""  type="image/x-icon">
    <link rel="icon" href=""  type="image/x-icon">

  
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/" >
                <img src="{{admin.logo}}"  alt="Accueil">
            </a>
        </div> <!-- end header-logo -->

        <nav class="header-nav">

            <a href="{% static '#0' %}"  class="header-nav__close" title="close"><span>Fermer</span></a>

            <div class="header-nav__content">
                <h3>Transcend Studio</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="/"  title="home">Accueil</a></li>
                    <li><a class="smoothscroll"  href="#about"  title="about">A Propos</a></li>
                    <li><a class="smoothscroll"  href="#services"  title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#works"  title="works">Traveaux Réalisés</a></li>
                    <li><a class="smoothscroll"  href="#contact"  title="contact">Contact</a></li>
                </ul>
    
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href="#"> </a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="https://api.whatsapp.com/send?phone={{admin.phone1}}" ><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.facebook_link}}" ><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.twitter_link}}" ><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.instagram_link}}" ><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.behance_link}}" ><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.dribblbe_link}}" ><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav> <!-- end header-nav -->

        <a class="header-menu-toggle" href="{% static '#0' %}" >
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{{banner.image}}"  data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1 id="test">
                {{banner.title}}
                </h1>

                <p>
                {{ banner.subtitle }}
                </p>
            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about" >{{about_st.name}} <span>Qui sommes nous</span></a></li>
            <li><a class="smoothscroll" href="#services" >{{about_st.name}}<span>Ce qu'on fait</span></a></li>
            <li><a  class="smoothscroll" href="#contact" >Contact<span>En un clique</span></a></li>
        </ul> <!-- end home-sidelinks -->

        <ul class="home-social">
            <li class="home-social-title">Suivez nous</li>
            <li><a href="{{admin.facebook_link}}" >
                <i class="fab fa-facebook"></i>
                <span class="home-social-text">Facebook</span>
            </a></li>
            <li><a href="https://api.whatsapp.com/send?phone={{admin.phone1}}" >
                <i class="fab fa-whatsapp"></i>
                <span class="home-social-text">Whatsapp</span>
            </a></li>
            <li><a href="{{admin.twitter_link}}" >
                <i class="fab fa-twitter"></i>
                <span class="home-social-text">Twitter</span>
            </a></li>
            <li><a href="{{admin.linkedin_link}}" >
                <i class="fab fa-linkedin"></i>
                <span class="home-social-text">LinkedIn</span>
            </a></li>
        </ul> <!-- end home-social -->

        <a href="#about"  class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{about_st.name}}</h3>
                <h1 class="display-1"> {{about_st.title}} </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                {{about_st.subtitle}}
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>
                {% for ab in abouts %}
                 <div class="col-block process__col" data-item="{{ forloop.counter }}" data-aos="fade-up">
                    <div class="process__text">
                        <h4>{{ab.title}}</h4>

                        <p>
                        {{ab.subtitle}}
                        </p>
                    </div>
                </div>
                {% empty %}

                {% endfor %}

            </div> <!-- end process -->

        </div> <!-- end about-stats -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{service_st.name}}</h3>
                <h1 class="display-1">{{service_st.title}}</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                {{service_st.subtitle}}
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">
            {% for s in services %}
              <div class="col-block service-item " data-aos="fade-up">
                  <div class="service-icon service-icon--brand-identity">
                      <i class="{{s.}}"></i>
                  </div>
                  <div class="service-text">
                      <h3 class="h4">{{s.title}} </h3>
                      <p>{{s.subtitle}}
                      </p>
                  </div>
              </div>
            {% empty %}
            {% endfor %}

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">
                
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{work_st.title}}</h3>
                <h1 class="display-1">{{work_st.subtitle}}</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row masonry-wrap">
            <div class="masonry">
                {% for w in works %}
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="/static/{{w.image}}"  class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="/static/{{w.image_mini}}"  
                                     alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                {{w.title}}
                            </h3>
                            <p class="item-folio__cat">
                                {{w.subtitle}}
                            </p>
                        </div>

                        <a href="{{w.button_link}}"  class="item-folio__project-link" title="Project link">
                            Lien du projet
                        </a>

                        <div class="item-folio__caption">
                            <p>{{w.description}}</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                {% empty %}
                {% endfor %}
            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <div class="testimonials-wrap" data-aos="fade-up">

            <div class="row">
                <div class="col-full testimonials-header">
                    <h2 class="h1">Ce que les clients pensent de nous.</h2>
                </div>
            </div>

            <div class="row testimonials">

                <div class="col-full testimonials__slider">
                    {% for t in testimonials %}
                      <div class="testimonials__slide">
                        <img src="/static/{{t.image}}"  alt="Author image" class="testimonials__avatar">
                        <p>{{t.description}}</p>
                        <div class="testimonials__author">
                            {{t.name}}
                            <span>{{t.job}}</span>
                        </div>
                    </div> <!-- end testimonials__slide -->

                    {% empty %}
                    {% endfor %}
                </div> <!-- end testimonials__slider -->

            </div> <!-- end testimonials -->

        </div> <!-- end testimonials-wrap -->

    </section> <!-- end s-works -->


    <!-- stats
    ================================================== -->
    <section id="stats" class="s-stats">

        <div class="row stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
            <div class="col-block stats__col ">
                <div class="stats__count">{{admin.award_number}}</div>
                <h5>Nombre de prix</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{admin.customers_number}}</div>
                <h5>Nombre de clients</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{admin.project_number}}</div>
                <h5>Projects Terminés</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">{{admin.happy_customers_number}}</div>
                <h5>Clients satisfaits</h5> 
            </div>

        </div> <!-- end stats -->

    </section> <!-- end s-stats -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Contact Us</h3>
                <h1 class="display-1 display-1--light">Get in touch and let's make something great together. Let's turn your idea on an even greater product.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row">

            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                <a href="{% static 'mailto:#0' %}"  class="contact-email"> {{admin.mail}} </a>
                <span class="contact-number"> {{admin.phone1}}  / {{admin.phone2}}  </span>
                </p>
            </div> <!-- end contact-main -->

        </div> <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Où nous trouver</h3>

                <p class="contact-address">
                    {{admin.adresse1}}
                </p>
            </div> <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Suivez nous</h3>

                <ul class="contact-social">
                    
                    <li>
                        <a href="https://api.whatsapp.com/send?phone={{admin.phone1}}" ><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.facebook_link}}" ><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.twitter_link}}" ><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.instagram_link}}" ><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.behance_link}}" ><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="{{admin.dribblbe_link}}" ><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul> <!-- end contact-social -->

                <div class="contact-subscribe">
                    <form id="mc-form" class="group mc-form" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div> <!-- end contact-subscribe -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end row -->

        <div class="row">
            <div class="col-full cl-copyright">
                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All right reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"  target="_blank">Colorlib</a> and edited by <a href="https://zimeoo.com"  target="_blank">Ziméoo</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="Back to Top" href="'#top'" ><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section> <!-- end s-contact -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
    <script src="{% static 'js/plugins.js' %}" ></script>
    <script src="{% static 'js/main.js' %}" ></script>
    

</body>

</html>